.comment-list{
    display: table;
    width: 100%;   
    margin-top: 10px;
}

.comment-item{
    border: 1px solid #e1e4e8;
    margin-top: -1px;
    padding: 5px;
}

.comment-item:focus{
    background-color: #f6f8fa;
}

.comment-content{
    font-size: 16px;
    margin-bottom: 3px;
}

.comment-footer{
    font-size: 12px;
    color: #586069;
}